<div class="text-center">
    <h1 class="display-4">Welcome Home Login Tesst</h1>
</div>

@using (Html.BeginForm("Login", "Home", new { ReturnUrl = Context.Request.Query["ReturnUrl"] }, FormMethod.Post, true, new { name = "myForm", autocomplete = "off" }))
{
    <div>
        <label>帳號:</label>
        @Html.TextBox("userid")
    </div>
    <div>
        <label>密碼：</label>@Html.Password("pd")
    </div>
    <div>
        <button type="submit">提交</button>
    </div>
    <div style="color:red;">
        <!--顯示登入失敗訊息 -->
        @ViewBag.errMsg
    </div>
}